/* Helpers */
/* Base Imports */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

/* Fonts */
/* Colors */
/* Darken or Lighten Color */
/* Changes Saturation */
/* Changes Hue */
/* Random Styles */
.wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 3em; }
  @media (max-width: 40em) {
    .wrap {
      padding: 0 2em; } }
  @media (max-width: 30em) {
    .wrap {
      padding: 0 1.5em; } }
  @media (max-width: 20em) {
    .wrap {
      padding: 0 1em; } }

/* Globa body Styles */
html {
  font-size: 62.5%; }
  @media (max-width: 20em) {
    html {
      font-size: 50%; } }
  @media (max-width: 10em) {
    html {
      font-size: 30%; } }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather", serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem; }
  @media (max-width: 20em) {
    body {
      font-size: 8px;
      line-height: 12px;
      font-size: 0.8rem;
      line-height: 1.2rem; } }

/* Headline Stlyes */
h1 {
  font-size: 32px;
  line-height: 48px;
  font-size: 3.2rem;
  line-height: 4.8rem; }

h2 {
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem; }

h3 {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem; }

h4 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem; }

h5 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem; }

h6 {
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem; }

p {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  color: #322e29; }

a,
a.small,
a.anchor,
a.visited {
  color: DodgerBlue;
  text-decoration: underline;
  -webkit-transition: 0.35s, ease;
          transition: 0.35s, ease; }
  a:hover,
  a.small:hover,
  a.anchor:hover,
  a.visited:hover {
    color: #33ccff;
    text-decoration: underline; }

/* Job Titles */
.j-title {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #333;
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem; }

.d-title {
  float: right;
  font-style: italic; }
  @media (max-width: 50em) {
    .d-title {
      float: none;
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-size: 1.6rem;
      line-height: 2.4rem; } }

li {
  color: #322e29;
  font-family: "Merriweather", serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 10px; }

.btn {
  cursor: pointer;
  border: 0;
  padding: 1em 1.2em;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  background-color: DodgerBlue;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  -webkit-transition: 0.25s, ease;
          transition: 0.25s, ease; }
  .btn--word {
    background-color: #2ecc71;
    color: #fff; }
    .btn--word:hover {
      background-color: #69dd9a;
      border-radius: 5em;
      border-bottom-left-radius: 0; }
  .btn--adobe {
    background-color: #2ecc71;
    color: #fff; }
    .btn--adobe:hover {
      background-color: #69dd9a;
      border-radius: 5em;
      border-bottom-left-radius: 0; }
  .btn--warning {
    background-color: #c0392b;
    color: #fff; }
    .btn--warning:hover {
      background-color: #db695d;
      border-radius: 5em;
      border-bottom-left-radius: 0; }
  .btn--enactive {
    background-color: #ecf0f1;
    color: #f4f4f4; }
    .btn--enactive:hover {
      background-color: white;
      border-radius: 5em;
      border-bottom-left-radius: 0; }

.banner {
  background: -webkit-radial-gradient(100% 50%, circle, transparent 20%, rgba(255, 255, 255, 0.3) 21%, rgba(255, 255, 255, 0.3) 34%, transparent 35%, transparent), -webkit-radial-gradient(0% 50%, circle, transparent 20%, rgba(255, 255, 255, 0.3) 21%, rgba(255, 255, 255, 0.3) 34%, transparent 35%, transparent) 0 -50px;
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, 0.3) 21%, rgba(255, 255, 255, 0.3) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255, 255, 255, 0.3) 21%, rgba(255, 255, 255, 0.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #E6E6E6;
  background-size: 75px 100px;
  width: 100%;
  min-height: 100%;
  max-height: 200px;
  height: 200px;
  display: inline-block; }
  .banner figure {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
    .banner figure figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .banner--headline, .banner--subhead {
    margin: 0;
    padding: 0; }
  .banner--headline {
    font-size: 40px;
    line-height: 60px;
    font-size: 4rem;
    line-height: 6rem; }
  .banner--subhead {
    font-family: "Lato", sans-serif; }

header {
  background-color: white; }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  header .logo {
    float: left; }
    header .logo h5 {
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      margin: 2em 0; }
    header .logo--title {
      letter-spacing: 1px;
      font-weight: 100;
      text-transform: uppercase;
      font-family: "Lato", sans-serif; }
      header .logo--title:before {
        content: "|";
        font-weight: bold;
        padding: 0px 5px; }
    @media (max-width: 40em) {
      header .logo {
        text-align: center; } }

nav .list {
  list-style-type: none;
  padding: 1.5%; }
  nav .list__items {
    display: inline-block;
    padding: 0px 10px 0px 0px;
    font-family: "Lato", sans-serif; }
    nav .list__items--link {
      font-size: 16px;
      line-height: 24px;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #333;
      text-decoration: none;
      text-transform: uppercase; }
    nav .list__items--link:hover {
      text-decoration: underline; }

.dwn {
  display: inline-block; }

.l-block {
  padding-top: 5% 0px; }
  .l-block h4 {
    font-size: 40px;
    line-height: 60px;
    font-size: 4rem;
    line-height: 6rem;
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #cfcfcf; }

.r-block {
  padding: 0 0 1.5% 0; }
  .r-block ul {
    padding-top: 10px; }
    @media (max-width: 40em) {
      .r-block ul {
        padding: 0 0 0 1.250em; } }
  .r-block a {
    text-decoration: none; }
  .r-block h2 {
    color: DodgerBlue;
    margin-bottom: 0;
    text-decoration: none; }
    .r-block h2 a:hover {
      color: #0583ff;
      text-decoration: underline; }
  .r-block-h {
    width: 47%;
    float: left;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 10px;
    padding: 5%; }
    .r-block-h em {
      font-weight: 500; }

footer {
  background-color: DodgerBlue;
  text-align: center;
  color: white;
  padding: 3em 0;
  margin-top: 3em; }
  footer p {
    color: white;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    font-size: 1.3rem;
    line-height: 1.95rem; }
  footer .tel {
    color: white;
    text-decoration: none; }

#footer {
  display: inline-block;
  width: 25px;
  height: 25px; }
