* {
	padding: 0;
	margin: 0;
}
body {
	margin: 0 auto;
	background-color: #ecf0f1;
}
.gift--wrapper {
	margin: 0 auto;
	max-width: 1440px;
}
// _grid.scss
.gift--ideas {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	.gift--items {
		float: left;
		width: 23.4%;
		background-color: white;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, .1);
		margin: 10px;
		@media (max-width: 768px) {
			width: 95%;
		}
		figure {
			img {
				width: 100%;
				display: block;
				margin: 0 auto;
			}
			figcaption {
				border-top: 1px solid rgba(0, 0, 0, .1);
				padding: 5%;
				.item--title {
					// heading styles
					color: #e74c3c;
				}
				.item--store {
					// What stores its from
					color: #2c3e50;
					padding-bottom: 15px;
					font-size: 21px;
				}
				.item--price {
					// Price of Item
					font-weight: bold;
					font-size: 20px;
					color: #e74c3c;
					.item--size {
						// size styles
						font-weight: lighter;
						font-size: 16px;
						color: #333;
					}
				}
			}
		}
	}
}