// _mixins.scss

// Take you px value and divide by 10
@mixin font-size($sizeValue:1.6, $line: $sizeValue * 1.5){
  
  // Spits out a rem value 
  font-size:   $sizeValue + rem;
  line-height: $line + rem;

  // Spits out a pixel value 
  font-size:   ($sizeValue * 10) + px;
  line-height: ($line * 10) + px;
}

// Transitions
@mixin transition($speed, $animate) {
  transition: ($speed, $animate); 
}


// Centering Vertical - Horizontal
@mixin centering {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}