// _header.scss
header {
	background-color: rgba(white, 1);
	nav {
		display: flex;
		flex-flow: row wrap;
		
		/* This aligns items to the end line on main-axis */
		justify-content: flex-end;
	}
	.logo {
		float: left;
		h5 {
			font-family: $lato;
			text-transform: uppercase;
			font-weight: 900;
			margin: 2em 0;
		}
		&--title {
			letter-spacing: 1px;
			font-weight: 100;
			text-transform: uppercase;
			font-family: $lato;
			&:before {
				content: "|";
				font-weight: bold;
				padding: 0px 5px;
			}
		}
		@media (max-width: 40em) {
			text-align: center;
		}
	}
}
nav {
	.list {
		list-style-type: none;
		padding: 1.5%;
		&__items {
			display: inline-block;
			padding: 0px 10px 0px 0px;
			font-family: $lato;
			&--link {
				@include font-size(1.6);
				// color: DodgerBlue;
				color: #333;
				text-decoration: none;
				text-transform: uppercase;
			}
			&--link:hover {
				text-decoration: underline;
			}
		}
	}
}