// _buttons.scss
.btn {
  cursor: pointer;
  border: 0;
  padding: 1em 1.2em;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  background-color: #39C0C6;

  @include font-size(1.6);
  @include transition(.25s, ease);
  
  @each $name, $colors in $buttons {
    $bgcolor: nth($colors, 1);
    $fontcolor: nth($colors, 2);

    &--#{$name} {
      background-color: $bgcolor;
      color: $fontcolor;
      &:hover {
        background-color: lighten($bgcolor, 15%);
        border-radius: 5em;
        border-bottom-left-radius: 0;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}