// _buttons.scss
.btn {
  cursor: pointer;
  // background-color: DodgerBlue;
  border: 0;
  padding: 20px 30px;
  color: white;
  text-transform: uppercase;
  @include transition(.25s, ease);
  
  @each $name, $colors in $buttons {
    $bgcolor: nth($colors, 1);
    $fontcolor: nth($colors, 2);

    &--#{$name} {
      background-color: $bgcolor;
      color: $fontcolor;
    }
  }
}