/* Globa body Styles */
html {
	font-size: 62.5%;
	@media (max-width: 20em) {
		font-size: 50%;
	}
	@media (max-width: 10em) {
		font-size: 30%;
	}
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $merri;
	font-weight: 100;

	@include font-size(1.6);
	@media (max-width: 20em) {
		@include font-size(.8);
	}
}

/* Headline Stlyes */
h1 {	
	@include font-size(3.2);
}
h2 {
	@include font-size(3);
}
h3 {
	@include font-size(2.4);
}
h4 {
	@include font-size(1.8);
}
h5 {
	@include font-size(1.6);
}
h6 {
	@include font-size(1.4);
}

p {
	@include font-size(2);
	color: $color--primary;
}


a,
a.small,
a.anchor,
a.visited {
	color: 	#39C0C6; // Like this
	text-decoration: underline;
	@include transition(.35s, ease);
	&:hover {
		color: lighten(#39C0C6, 10%);
		text-decoration: underline;
	}
}

/* Job Titles */
.j-title {
	text-transform: uppercase;
	font-family: $lato;
	font-weight: 900;
	color: #333;
	@include font-size(1.8);
}
.d-title {
	float: right;
	font-style: italic;
	@media (max-width: 50em) {
		float: none;
		display: block;	
		@include font-size(1.6);
	}
}

// Lists
li {
	color: $color--primary;
	font-family: $merri;
	font-weight: 100;
	@include font-size(2);
	padding-bottom: 10px;
}